@charset 'UTF-8';

body{
    height: 97vh;
    background: black url(../Images/wallpaper002.jpg ) center center no-repeat fixed;
    background-size: cover;



main{
    background-color: white;
    border-radius: 5px;
    max-width: 300px;
    padding: 5px;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.425);
}